:root {
    --dark: #1D1D1d;
    --bg:#FAF7F0;

    --pink: #F9ADE0;
    --pink66: #FAC8E2;
    --pink50: #FBD5E2;
    --pink25: #FBE9E3;
    --pinkDark: #E77495;
    --green:#9DF6D9;
    --blue: #C5D2EB;
    --blueDark:#3065CE;

    --grey: #8D8D82;
    --greyLight: #ccc;
    --greyAlt: #999;
    --purple: #D8D0DD;
    --purpleDark: #7D6580;

    --red: #E91731; 
    --brown: #CCC5A8;

    --block-mid:620px; 
    --cols:800px;
    --graph:800px;   
}

@font-face {
font-family:'glacial indifference';
src:url('../fonts/GI-reg.woff2') format('woff2'), url('../fonts/GI-reg.woff') format('woff');
font-weight:normal;
font-style:normal;
font-display:fallback}

@font-face {
font-family:'glacial indifference';
src:url('../fonts/GI-bold.woff2') format('woff2'), url('../fonts/GI-bold.woff') format('woff');
font-weight:bold;
font-style:normal;
font-display:fallback}

@font-face {
font-family:'eb garamond title';
src:url('../fonts/EB-Garamond-SC.woff2') format('woff2'), url('../fonts/EB-Garamond-SC.woff') format('woff');
font-weight:bold;
font-style:normal;
font-display:fallback}

@font-face {
font-family:'eb garamond';
src:url('../fonts/EB-Garamond-12.woff2') format('woff2'), url('../fonts/EB-Garamond-12.woff') format('woff');
font-weight:normal;
font-style:normal;
font-display:fallback}

@font-face {
font-family:'eb garamond';
src:url('../fonts/EB-Garamond-12-italic.woff2') format('woff2'), url('../fonts/EB-Garamond-12-italic.woff') format('woff');
font-weight:normal;
font-style:italic;
font-display:fallback}

html {
scroll-behavior:smooth;
box-sizing:border-box;
font-size:1rem}

*, 
:after, 
:before {
box-sizing:inherit}

body {
font-family:'glacial indifference', sans-serif;
color:var(--dark);
background:var(--bg);
margin:0;
padding:15px;
font-size:1.125rem;
-webkit-font-smoothing:antialiased}

body:before {
display:block;
content:'1 of 5';
text-align:center;
font-size:9px}

#people:before {
content:'2 of 5'}

#places:before {
content:'3 of 5'}

#things:before {
content:'4 of 5'}

#notes:before {
content:'5 of 5'}

a {
color:inherit}

a[href^="http"]:hover,
p > a[href$="/"]:hover {
color:var(--blueDark);
transition:.2s}

::selection { 
background:var(--greyLight)}

.divider {
margin:auto;
text-align:center;
font-family:'eb garamond title';
font-size:1rem}

main:after,
#content:after {
content:'***';
margin:8rem 0;
display:block;
text-align:center;
font-size:1rem}

h1, h2 {
font-family:'eb garamond title', serif;
font-size:5rem;
line-height:.9;
margin:0 auto;
letter-spacing:-0.033em;
text-align:center}

h2 {
font-size:2.5rem}

h2[data-count]:before {
display:block;
text-align:center;
content:attr(data-count)'.';
font-family:'eb garamond title';
font-size:2rem;
margin-bottom:.25rem}

p.note {
font-size:.75rem;
letter-spacing:-0.025em}

h3 {
text-align:center;
margin:3rem auto 1rem;
letter-spacing:-0.033em;
font-size:1.5rem;
line-height:1.1}

h3 span {
font-size:1rem;
font-weight:normal}

svg {
display:block;
overflow:visible}

h3 + p {
margin:0 auto;
text-align:center;
max-width:640px}

p.dropdown {
text-align:center}

p,
.cols li {
letter-spacing:-0.04em}

circle {
fill:var(--dark)}

text {
font-weight:bold;
font-size:11px;
text-anchor:middle}

path {
fill:var(--pink66);
stroke:none}

.places path:not(.abs) {
fill:var(--green)}

.things path:not(.abs) {
fill:var(--blue)}

.crime path:not(.abs) {
fill:var(--greyLight)}

.when path:not(.abs) {
fill:var(--purple)}

.abs {
fill:none;
stroke:var(--dark);
stroke-width:1px;
stroke-dasharray:4px 4px;
stroke-linecap:round;
mix-blend-mode:multiply;
opacity:1}

line {
shape-rendering:crispEdges;
stroke:var(--dark);
stroke-width:1px;
stroke-dasharray:2px 2px}

line.base,
.arrow line,
.gov line  {
stroke-dasharray:none}

polyline {
fill:none;
stroke:var(--dark);
stroke-width:1px;
stroke-linecap: butt}

img {
display:block}

ul, 
li {
padding:0;
margin:0;
list-style:none}

.notes {
margin:1rem auto;
text-align:center;
font-size:12px;
max-width:var(--block-mid);
line-height:1.2}

.key {
margin:1rem auto;
font-size:12px;
text-align:center}

.notes + .key {
margin:2rem auto -2rem}

.dropdowns + .key {
margin:1rem auto 0}

.key li {
display:inline-block;
margin:0 .25rem}

.key li:before,
#info.known h3:before,
#info.IND h3:before,
#info.non-IND h3:before {
content: '';
width:10px;
height:10px;
margin-top:-2px;
background:var(--pink66);
border-radius:50%;
display:inline-block;
vertical-align:middle;
margin-right:6px}

.key li.peak {
color:var(--grey)}

.key li.peak:before {
width:6px;
height:6px;
margin-top:-2px;
background:var(--dark)}

.key li.places:before {
background:var(--green)}

.key li.things:before {
background:var(--blue)}

.key li.crime:before {
background:var(--greyLight)}

.key li.when:before {
background:var(--purple)}

.key li.she:before {
background:var(--pink)}

.key li.he:before {
background:#fcd6f0}

.key + p {
text-align:center}

select,
option {
font-family:inherit;
font-size:13px}

select {
border:1px solid var(--dark);
border-radius:3px;
padding:2px 25px 2px 6px;
-webkit-appearance:none;
appearance:none;
background:transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpolyline stroke='%231D1D1F' stroke-width='1.5' points='1 1 5 4 9 1' fill='none' /%3E%3C/svg%3E") no-repeat top 50% right 6px/10px 5px;
vertical-align:middle;
color:inherit}

select::-ms-expand {
display:none}

.dropdowns span {
display:inline-block;
margin:0 .25rem}

.lrg {
margin:2rem auto 4rem;
max-width:800px} 

.lrg img {
width:100%} 

/* HEADER */

header {
margin:4rem 0 6rem;
text-align:center}

.icon {
position:relative;
width:120px;
height:120px;
background:url(../img/icon-home.png) no-repeat 50% 50%/contain;
margin:auto;
mix-blend-mode:multiply}

.icon:before {
content:'';
position:absolute;
bottom:100%;
left:100%;
width:60px;
height:60px;
background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cg transform='translate(31,30) scale(1,-1) rotate(85) translate(-31,-30)' stroke='%23000' stroke-width='1' fill='none'%3E%3Cpath d='M0 57.9C22.2 44.1 51.1 28.8 58 0M20.3 60C-3.2 55.8 0.2 63.7 2.9 42.4'/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%/contain;
transform:translate(-50%,50%);
opacity:.33}

.icon div {
position:absolute;
bottom:100%;
left:100%;
font-size:11px;
white-space:nowrap;
text-align:left;
line-height:1.1;
transform:rotate(-3deg) translate(40px,-25px)}

.icon a {
font-weight:700}

h1 {
max-width:500px;
padding:0 1rem;
transform:rotate(-0.5deg);
text-decoration:underline}

header p {
position:relative;
background:#fff;
max-width:585px;
margin:3rem auto;
padding:1rem 1.5rem;
font-size:1.25rem;
transform:translate(.5rem, 0) rotate(0.5deg);
letter-spacing:-0.033em;
box-shadow:0 0 2px 2px rgba(0,0,0,0.025)}

nav {
display:flex;
justify-content:center;
margin:3rem auto}

nav a {
display:block;
margin:0 .75rem;
padding:4px 8px 4px;
font-size:1rem;
font-family:'eb garamond title';
line-height:1;
letter-spacing:-0.033em;
text-decoration:none;
position:relative;
text-transform:lowercase}

nav a:before {
content:'';
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
transform:translate(0,1px) rotate(.5deg);
background:var(--dark);
opacity:0}

nav a:hover {
text-decoration:underline}

#people a[href*='/people/']:before {
opacity:1;
background:var(--pink66)}

#places a[href*='/places/']:before {
transform:translate(0,2px) rotate(-.5deg);
opacity:1;
background:var(--green)}

#things a[href*='/things/']:before {
opacity:1;
background:var(--blue)}

#intro a[href$='./']:before,
#notes a[href*='/notes/']:before {
opacity:1}

#intro a[href='./'],
#notes a[href*='/notes/']{
color:#fff}

#intro a[href='../'],
#people a[href*='/people/'],
#places a[href*='/places/'],
#things a[href*='/things/'],
#notes a[href*='/notes/']{
text-decoration:none;
cursor:default}

/* COLS */

.cols {
width:var(--cols);
display:flex;
justify-content:space-between;
margin:1rem auto}

.cols > div {
max-width:380px;
margin:0 20px}

.cols > div:first-child {
margin-left:0}

.cols > div:last-child {
margin-right:0}

.cols div:first-child p:first-child {
text-indent:0}

.cols p {
position:relative}

.cols ul,
.cols ol {
padding:0 0 0 1rem}

.cols li {
list-style:decimal;
margin-bottom:.25rem}

sup {
position:absolute;
transform:translate(.25rem,0);
font-size:11px}

.cols .note {
width:180px;
text-indent:1rem;
margin-left:1rem;
border-left:2px solid var(--dark);
padding-left:1rem;
position:absolute;
top:0;
left:100%;
font-size:.75rem;
letter-spacing:0;
line-height:1}

.cols .sm {
margin-top:1rem;
border-top:1px solid var(--dark);
padding-top:.25rem;
font-size:.75rem}

.a p:first-child:first-letter {
float:left;
font-size:2rem;
display:inline-block;
margin:-.5rem .5rem 0 0;
font-family:'eb garamond title';
font-size: 5rem;
line-height:.85}

.sources {
border-top:1px solid var(--dark);
padding-top:.5rem;
line-height:1;
font-size:12px;
margin:1rem auto 4rem;
max-width:var(--graph);
color:var(--grey)}

.three > div {
max-width:240px}

.three > div > p {
font-size:14px;
letter-spacing:-0.025em}

.three .a p:first-child:first-letter {
float:none;
font-size:inherit;
display:inline;
margin:0;
font-family:inherit;
font-size:inherit;
line-height:inherit}

/* GENERIC SMALL GRAPH! */

.graph svg {
height:40px;
width:100%;
/*border-bottom:1px solid var(--pink)*/}

.graph h5 {
border-top:1px solid var(--dark);
padding-top:3px;
font-size:15px;
margin:4px 0 0;
font-weight:normal;
letter-spacing:-0.025em}

h5[title]{
cursor:default}

h5[data-title]{
position:relative;
display:inline-block}

/*
h5[data-title]:before,
h5[data-title]:after {
position:absolute;
left:50%;
bottom:100%;
opacity:0;
transition:opacity .5s}

h5[data-title]:before {
content:"regex: " attr(data-title);
white-space:nowrap;
background:var(--dark);
color:#fff;
font-size:11px;
letter-spacing:normal;
padding:4px 5px 6px;
line-height:1;
transform:translate(-50%,-8px);
border-radius:0}

h5[data-title]:after {
content:'';
transform:translate(-50%,-4px);
width:0;
height:0;
border-style:solid;
border-width:6px 6px 0 6px;
border-color:var(--dark) transparent transparent transparent}

h5[data-title]:hover:before,
h5[data-title]:hover:after {
opacity:1}
*/

/*
.flag h5:after {
content:'*';
font-size:.66em;
transform:translate(.2em, -.2em)}
*/

.graph  p {
margin:0;
font-size:12px;
color:var(--grey)}

.graph p a,
.terms a {
color:var(--grey);
text-decoration:none}

.inline {
margin:2rem 0 1rem}

/* QUOTES */

.quote {
margin:12rem auto;
text-align:center;
position:relative;
max-width:var(--cols)}

.quote > em {
font-family:'eb garamond';
display:block;
font-size:1rem;
transform:translateY(-.25rem)}

.quote > em:before,
.quote > em:after {
content:'[';
display:inline-block;
padding:0 .1rem;
font-style:normal}

.quote > em:after {
content:']'}

.blockquote-wrapper {
max-width:672px;
position:relative;
margin:auto}

.quote blockquote {
margin:auto;
display:block;
font-size:2.5rem;
font-family:'eb garamond';
letter-spacing:-0.02em;
line-height:1.05}

.quote blockquote:before,
.quote blockquote:after {
content:'”';
display:block;
margin:auto;
font-size:5rem;
font-family:'eb garamond title'}

.quote blockquote:before {
content:'“';
margin-bottom:-2.5rem}

blockquote span {
position:relative;
display:inline-block;
padding:0 .15em}

blockquote svg {
display:none;
width:120px;
height:30px;
vertical-align:baseline;
margin:0 .1em 0 .33rem;
transform:translateY(3px)}

blockquote text {
font-size:10px;
letter-spacing:normal;
font-family:'glacial indifference', sans-serif;
transform:translate(6px,10px);
text-anchor:start}

blockquote circle {
r:2}

blockquote span:after  {
content:'';
position:absolute;
z-index:-1;
left:0;
right:0;
bottom:15%;
top:20%}

.quote.alt {
margin:4rem auto;
max-width:440px}

.alt blockquote {
font-style:italic;
font-size:2rem}

.quote.alt .details {
margin-top:-1.5rem;
display:flex!important}

.alt blockquote:before,
.alt blockquote:after {
font-size:4rem}

.alt blockquote:before {
margin-bottom:-2.25rem}

.alt blockquote:after {
margin-top:.5rem}

blockquote span.people:after  {
background:var(--pink66)}

blockquote span.places:after  {
background:var(--green)}

blockquote span.things:after  {
background:var(--blue)}

blockquote span.crime:after  {
background:var(--greyLight)}

blockquote span.when:after  {
background:var(--purple)}

.details {
position:relative;
display:flex;
justify-content:center;
font-size:.75rem}

.details > p {
margin:0 .25rem;
text-align:center}

.details a:before {
content:'View on Trove'}

.details p:last-child:after,
.graph h5 + p:after,
.terms .label a:after,
#select-towns .label a:after {
content:' →';
position:absolute;
margin-left:3px}

/* GENDER */

#gender .dropdowns span {
display:block;
font-size:12px;
margin-bottom:.25rem;
color:var(--grey)}

#gender .outer {
margin-top:4rem;
height:65px}

#gender rect {
stroke:none;
fill:var(--pink);
mix-blend-mode:multiply}

#gender path {
fill:#fff;
opacity:.5}

#gender .note {
margin-top:0}

/* TINY GRAPHS */

.solo {
width:160px;
text-align:left;
position:absolute}

.TL {
bottom:100%;
left:0;
margin-bottom:2rem}

.TR {
bottom:100%;
right:0;
margin-bottom:2rem}

.BL {
left:0;
top:100%;
margin-top:-1rem}

.BR {
right:0;
top:100%;
margin-top:-1rem}

.solo:after {
content:'';
position:absolute;
top:100%;
left:100%;
width:40px;
height:100px;
background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 100'%3E%3Cpath d='M0 0.5L39.5 0.5 39.5 120.5' stroke='%231D1D1F' stroke-width='1' fill='none' stroke-dasharray='4,2'/%3E%3C/svg%3E") no-repeat 0 0/contain;
transform:translate(10px, -35px);
opacity:1}

.solo.TR:after {
left:auto;
right:100%;
transform:translate(-10px, -35px) scaleX(-1)}

.solo.BL:after {
top:auto;
bottom:100%;
transform:translate(10px, 46px) scaleY(-1)}

.solo.BR:after {
top:auto;
bottom:100%;
left:auto;
right:100%;
transform:translate(-10px, 46px) scaleY(-1) scaleX(-1)}

/* CHECK IF STILL IN USE! PHOTOS TOO */

/*.solo[data-name="fair hair"]{transform:translate(-8rem,0)}   
.solo[data-name="light whiskers"]{transform:translate(-2rem,0)}*/
.solo[data-name="cabbagetree hat"]{transform:translate(-1rem,0)}
.solo[data-name="spectacles"]{transform:translate(2rem,-1rem)}

.solo[data-name="thin features"]{transform:translate(0,0)}
.solo[data-name="Balmain"]{transform:translate(7rem,-3rem)}
.solo[data-name="dress"]{transform:translate(-9rem,-3rem)}

.solo[data-name="Coonamble"]{transform:translate(-5rem,0)}
.solo[data-name="vest"]{transform:translate(4rem,0)}
.solo[data-name="addicted to drink"]{transform:translate(1rem,-3rem)}

.solo[data-name="dark eyes"]{transform:translate(3rem,0)}
.solo[data-name="stout build"]{transform:translate(4rem,-1rem)}
.solo[data-name="light print dress"]{transform:translate(-2rem,-3rem)}

.solo[data-name="sallow complexion"]{transform:translate(-2rem,0)}
.solo[data-name="moustache"]{transform:translate(-6rem,-3rem)}
.solo[data-name="tattoo"]{transform:translate(2rem,-3rem)}

.solo[data-name="red face"]{transform:translate(-5rem,0)}
.solo[data-name="woman"]{transform:translate(2rem,0)}
.solo[data-name="freckled"]{transform:translate(-7rem,-1rem)}
.solo[data-name="girl"]{transform:translate(5rem,-1rem)}

.solo[data-name="tweed coat"]{transform:translate(-1rem,-3.5rem)}
.solo[data-name="moleskin trousers"]{transform:translate(0rem,0)}
.solo[data-name="cotton shirt"]{transform:translate(-.5rem,-2rem)}
/*.solo[data-name="boots"]{transform:translate(0,0)}
.solo[data-name="boots"]{transform:translate(1rem,-1rem)}*/

.solo[data-name="fresh complexion"]{transform:translate(-4rem,0)}
.solo[data-name="high cheek bones"]{transform:translate(5rem,0)}
.solo[data-name="teeth missing"]{transform:translate(3rem,-3.5rem)}

.solo[data-name="George Street"]{transform:translate(4rem,-3rem)}

.solo[data-name="The Criterion Hotel"]{transform:translate(-4rem,0rem)}
.solo[data-name="whilst drunk"]{transform:translate(-2rem,0rem)}
.solo[data-name="hunting watch"]{transform:translate(0rem,0rem)}

.solo[data-name="the Colony"]{transform:translate(-3rem,-3rem)}
.solo[data-name="curly hair"]{transform:translate(2.5rem,-3.5rem)}


/* PHOTOS */

.photos {
max-width:460px;
margin:10rem auto 20rem;
counter-reset:photo-term}

.photos li {
margin-bottom:6rem;
background:var(--bg)}

.photos .wrapper,
.photos .dots {
position:relative}

.photos img {
width:100%;
mix-blend-mode:multiply;
border-radius:50%}

.photos .details {
top:100%;
width:100%;
text-align:center;
margin:.75rem 0;
position:absolute;
z-index:1;
display:block}

.photos [data-term]{
position:absolute;
transform:translate(0, -43px)}

.photos .lhs[data-term]{
transform:translate(-100%, -43px)}

.photos div[data-term]:before {
content:'';
position:absolute;
border-top:1px solid var(--dark);
top:43px;
left:0;
right:0}

.photos span[data-term]{
position:absolute;
width:1.25rem;
height:1.25rem;
border-radius:50%;
transform:translate(-50%,-50%);
padding:0!important;
background:#fff;
text-align:center;
line-height:1.25rem;
font-size:11px;
font-weight:700;
display:none}

.photos span[data-term]:after {
font-size:10px;
vertical-align:baseline;
counter-increment:photo-term;
content:counter(photo-term)}

.photos [data-term] h5:before {
display:none;
content:attr(data-c)'. '}

/* HOME */

.photos [data-term="Woy Woy"]{left:80%;top:20%;padding-left:100px}
.photos [data-term="beach"]{left:23%;top:79%;padding-right:120px}
.photos [data-term="photographer"]{left:56%;top:95%;padding-left:170px}
.photos [data-term="black hat"]{left:82%;top:51%;padding-left:120px}

.photos [data-term="striped shirt"]{left:68%;top:47%;padding-left:210px}
.photos [data-term="freckled"]{left:45%;top:31%;padding-right:220px}
.photos [data-term="dungaree"]{left:60%;top:70%;padding-left:200px}

.photos [data-term="cast in eye"]{left:22%;top:44%;padding-right:130px}
.photos [data-term="waggon"]{left:76%;top:26%;padding-left:160px}
.photos [data-term="Hill End"]{left:73%;top:86%;padding-left:120px}
.photos [data-term="waistcoat"]{left:33%;top:93%;padding-right:120px}


/* PEOPLE */
.photos [data-term="high cheek bones"]{left:72%;top:15%;padding-right:300px}
.photos [data-term="bushy beard"]{left:52%;top:57%;padding-right:275px}
.photos [data-term="sharp nose"]{left:52%;top:53%;padding-left:270px}

.photos [data-term="proprietor"]{left:77%;top:33%;padding-left:170px}
.photos [data-term="fair hair"]{left:38%;top:27%;padding-right:200px}
.photos [data-term="daughter"]{left:13%;top:64%;padding-right:125px}
.photos [data-term="married"]{left:39%;top:95%;padding-left:240px}

.photos [data-term="slim build"]{left:7%;top:61%;padding-right:70px}
.photos [data-term="pale complexion"]{left:82%;top:35%;padding-left:150px}
.photos [data-term="respectable appearance"]{left:44%;top:80%;padding-left:270px}

/* PLACES */
.photos [data-term="Hunter Street"]{left:82%;top:68%;padding-left:120px}
.photos [data-term="O'Connell Street"]{left:15%;top:78%;padding-right:100px}
.photos [data-term="Royal Mail Hotel"]{left:32%;top:40%;padding-left:360px}
/*.photos [data-term="Pitt Street"]{left:76%;top:89%;padding-left:90px}*/

.photos [data-term="Hawkins Hill"]{left:57%;top:23%;padding-left:240px}
/*.photos [data-term="goldfield"]{left:82%;top:68%;padding-left:120px}*/
.photos [data-term="diggings"]{left:31%;top:63%;padding-right:160px}
/*.photos [data-term="gully"]{left:33%;top:90%;padding-right:120px}*/

.photos [data-term="Fort Macquarie"]{left:90%;top:37%;padding-left:90px}
.photos [data-term="Circular Quay"]{left:12%;top:49%;padding-right:100px}
.photos [data-term="wharf"]{left:37%;top:94%;padding-right:130px}
.photos [data-term="harbour"]{left:56%;top:84%;padding-left:180px}

/* THINGS */

.photos [data-term="drapery"]{left:23%;top:12%;padding-right:110px}
.photos [data-term="check(ed) shirt"]{left:50%;top:28%;padding-left:260px}
.photos [data-term="wreath"]{left:88%;top:61%;padding-left:120px}
.photos [data-term="umbrella"]{left:29%;top:88%;padding-right:120px}

.photos [data-term="dark dress"]{left:18%;top:66%;padding-right:140px}
.photos [data-term="perambulator"]{left:60%;top:72%;padding-left:190px}
.photos [data-term="billycock hat"]{left:75%;top:11%;padding-left:140px}

.photos [data-term="bicycle"]{left:65%;top:80%;padding-left:200px}

.photos .graph {
width:160px}

.photos [data-term] h5 {
border-top-color:transparent}

.photos .details a:before {
content:'View in collection'}

/* BY QUOTE */

.by-quote {
max-width:var(--cols);
margin:6rem auto;
display:flex;
align-items:flex-end;
flex-wrap:wrap;
justify-content:center;
position:relative}

.by-quote:not(.pic):before,
.by-quote:not(.pic):after {
content:'***';
position:absolute;
font-size:1rem;
margin:1rem 0}

.by-quote:not(.pic):before {
top:-3rem}

.by-quote .graph > svg {
margin-bottom:5px}

.by-quote li {
width:200px;
margin:0 1rem 2rem;
position:relative}

.by-quote q {
display:block;
font-family:'eb garamond';
text-align:center;
font-size:2.25rem;
line-height:.9;
margin:1rem 0 3rem;
letter-spacing:-0.025em}

.by-quote h5 {
display:none}

.by-quote p {
text-align:center}

.by-quote b {
font-family:'eb garamond title';
font-weight:normal}

.by-quote li .note {
font-size:12px;
color:var(--grey);
position:absolute;
top:100%;
left:.5rem;
right:.5rem;
text-align:center;
margin-top:5px}

.by-quote li .note:before {
content:'note: '}

.by-quote.pic {
margin:2rem auto 0;
flex-wrap:nowrap;
justify-content:space-between}

.by-quote.pic li {
width:180px;
margin:0 0 2rem}

.by-quote.pic img {
width:100%;
height:auto;
border-radius:50%;
margin:0 auto 2.25rem;
mix-blend-mode:multiply}

.by-quote.pic q {
display:none}

.by-quote.pic h5 {
display:block}

.by-quote.pic p {
text-align:left}

/* TERMS LIST */

.years text {
font-size:1.25rem}

.years line {
opacity:.5}

.terms {
position:relative;
width:500px;
margin:4rem auto;
padding-bottom:0;
right:-2rem}

.terms .years {
position:absolute;
top:0;
left:0;
width:100%;
height:100%}

.terms .inner {
position:relative}

.terms ul {
padding-top:6rem}

.terms li {
position:relative;
margin-bottom:3rem}

.terms li div {
position:absolute;
bottom:0;
right:100%;
width:220px;
margin-right:1rem;
text-align:right;
line-height:1}

.terms li h5 {
margin:0;
font-size:1.25rem;
letter-spacing:-.033em;
font-weight:normal}

.terms .label select {
margin-bottom:5px;
font-size:15px}

.terms .label p {
margin:0;
font-size:12px;
color:var(--grey)}

.terms .label p span {
display:block;
font-size:10px}

.terms li > svg {
height:60px;	
width:100%}

.terms .note {
width:200px;
font-size:12px;
margin:0 0 0 1rem;
position:absolute;
left:100%;
border-left:2px solid var(--dark);
padding-left:.5rem;
text-indent:.5rem;
text-align:left;
line-height:1.1}

[data-sub-category] h5 {
text-transform:capitalize;
margin-bottom:2px}

/* GRAPH LGE */

.graph-lrg {
max-width:var(--graph);
margin:6rem auto 2rem}

.graph-lrg p {
text-align:center;
margin:1rem auto;
max-width:620px}

.graph-lrg svg.outer {
margin-top:6rem;
width:100%;
height:125px;
mix-blend-mode:darken}

#compare svg.outer {
margin-top:4rem;
height:150px}

#compare svg,
#compare select {
opacity:0;
transition-delay:.25s}

#compare.ready svg,
#compare.ready select {
opacity:1}

a[data-compare] {
text-decoration:underline;
cursor:pointer}

a.current[data-compare] {
text-decoration:none}

#compare .dropdowns {
position:relative;
z-index:1;
font-size:12px}

.graph-lrg .wrapper {
position:relative;
z-index:0}

.graph-lrg text.t {
font-weight:normal}

option.hide {
display:none}

#compare path  {
mix-blend-mode:multiply;
opacity:1}

#compare path[data-type="people"] {
fill:var(--pink50);
opacity:1}

#compare path[data-type="places"] {
fill:var(--green)}

#compare path[data-type="things"] {
fill:var(--blue)}

.decades {
display:flex}

.decades > div {
width:25%;
text-align:center}

.decades h4,
#slider-wrapper h4 {
margin-top:.5rem;
font-size:1.2rem;
letter-spacing:-.025em}

.cols h4 {
margin:1rem 0 -.5rem;
letter-spacing:-0.04em}

#word-count .wrapper .note {
margin-top:9rem}

#word-count svg.outer {
margin:5rem auto;
height:100px}

.pop text {
font-size:10px;
text-anchor:end;
font-weight:normal;
transform:translate(-6px,3px)}

.pop line {
opacity:.2;
stroke-dasharray:1px 1px}

.key li.words:before {
background:#BCB9BE}

.key li.pop:before {
background:var(--greyLight);
mix-blend-mode:multiply;
opacity:.66}

#word-count path,
.key li.pop:before {
fill:var(--greyLight);
mix-blend-mode:multiply;
opacity:.66}

.key li.pop:before {
background:var(--greyLight)}

.date circle {
fill:var(--bg);
stroke:var(--dark);
stroke-width:1.75px}

.date line {
stroke-dasharray:none}

#word-count .date rect {
fill:var(--bg)}

#word-count .date text {
font-size:12px;
font-weight:normal}

tspan {
font-weight:bold}

text.year {
font-size:11px;
font-weight:normal;
opacity:.5}

/* SELECTIVE REPORTING */

#msg {
margin:3rem -15px 1rem;
color:#fff;
padding:5rem 1rem;
background:var(--dark);
display:flex}

#msg > div {
margin:0 auto -1rem;
max-width:640px;
color:#fff;
font-size:1.25rem;
text-align:center;
letter-spacing:-0.033em}

#msg h4 {
margin:0;
font-size:1.5rem}

#msg a.btn {
display:inline-block;
margin:2rem auto 0;
font-weight:bold;
background:var(--red);
padding:6px 10px 8px;
font-size:1.5rem;
width:150px;
line-height:1;
cursor:pointer;
transition:.2s}

#msg a[href]:hover {
color:#fff} 

#msg a.btn:hover {
color:var(--dark);
background:#fff} 

.agreed #msg,
#content {
display:none}

.agreed #content {
display:block}

#selective-reporting .wrapper {
width:600px;
margin:6rem auto 0}

#selective-reporting .outer {
margin:0;
height:15px}

#selective-reporting .key {
max-width:280px;
margin:2rem auto 0;
white-space:nowrap}

#selective-reporting .key li {
display:block;
text-align:left}

#selective-reporting .key li:before,
#info.IND h3:before {
background:var(--pink66)}

#selective-reporting circle {
opacity:1;
cursor:pointer;
transition:.33s;
fill:var(--pink66)}

#selective-reporting circle.non-IND {
fill:var(--purpleDark)}

#selective-reporting .key .non-IND:before,
#info.non-IND h3:before {
background:var(--purpleDark)}

#selective-reporting .key .shot:before,
#info.shot h3:before { 
background:var(--blueDark)}

#selective-reporting circle.shot {
fill:var(--blueDark)}

#selective-reporting .key .known:before,
#info.known h3:before {
background:var(--red)}

#selective-reporting circle.known {
fill:var(--red)}

#selective-reporting text a {
text-decoration:underline}

#selective-reporting circle:hover {
stroke:var(--pink66);
stroke-width:2px;
fill:#fff}

#selective-reporting circle.non-IND:hover {
stroke:var(--purpleDark)}

#selective-reporting circle.shot:hover {
stroke:var(--blueDark)}

#selective-reporting circle.known:hover {
stroke:var(--red)}

#comparison-rates {
display:flex;
justify-content:center;
align-items:flex-end;
margin:5rem auto 3rem;
position:relative;
max-width:560px}

#comparison-rates:after {
content:'';
position:absolute;
top:50%;
left:25px;
right:25px;
border-top:1px dotted var(--dark);
opacity:.25}

#comparison-rates:before {
content:'50%';
position:absolute;
top:50%;
right:0;
font-size:11px;
transform:translate(0, -50%)}

#comparison-rates > div {
position:relative;
width:40px;
margin:0 25px}

#comparison-rates h4 {
position:absolute;
z-index:1;
white-space:nowrap;
right:100%;
bottom:100%;
font-size:1rem;
letter-spacing:-0.033em;
margin:0;
transform:translate(-4rem, -1rem)}

.box {
position:relative;
background:var(--pink66);
height:200px}

.bar {
position:absolute;
right:0;
left:0;
bottom:0;
background:var(--purpleDark);
mix-blend-mode:multiply}

.box .IND,
.box .non-IND {
width:160px;
position:absolute;
font-size:12px;
top:0;
right:100%;
transform:translate(-4rem,0);
text-align:right}

.box .IND:after,
.box .non-IND:after {
content:'';
position:absolute;
top:23px;
left:100%;
width:4rem;
border-top:1px solid var(--dark);
transform:translate(7px,0)}

.box .non-IND {
position:absolute;
font-size:12px;
top:auto;
bottom:0}

.box .non-IND:after {
top:auto;
bottom:7px;
transform:translate(7px,0)}

.box h5 {
margin:0;
font-size:14px;
font-weight:normal;
letter-spacing:-0.025em;
line-height:1.1}

.box span {
display:block;
color:var(--grey)}

.ratio {
position:absolute;
bottom:100%;
left:50%;
font-size:1rem;
transform: translate(-50%, -3px);
letter-spacing:-0.025em}

#population-breakdown:before {
content:'VS';
position:absolute;
top:50%;
right:100%;
font-size:9px;
transform:translate(-50%, -50%) translate(0, 0);
background:var(--bg);
width:25px;
text-align:center;
color:var(--dark);
z-index:1}

#population-breakdown h4 {
right:auto;
left:100%;
transform:translate(4rem, -1rem)}

#population-breakdown .IND,
#population-breakdown .non-IND {
right:auto;
left:100%;
transform:translate(4rem,0);
text-align:left}

#population-breakdown .IND:after,
#population-breakdown .non-IND:after {
left:auto;
right:100%;
transform:translate(-7px,0)}

#population-breakdown .IND  {
transform:translate(4rem,-6px)}

#population-breakdown .IND:after {
top:7px}

/* SET */

.set {
width:var(--graph);
margin:4rem auto;
display:flex;
justify-content:center;
align-items:center;
opacity:0;
transform:translate(-30px)}

.set[data-type] {
opacity:1}

.opts {
width:240px;
padding-right:7px;
text-align:right;
position:relative}

.opts select {
font-size:15px;
margin:0 0 0 .2rem;
letter-spacing:-0.02em;
vertical-align:baseline}

.opts p {
white-space:nowrap}

#set-notes {
position:absolute;
top:100%;
right:1rem;
left:1rem;
font-size:12px;
text-align:center;
transform:translate(0, -.5rem);
letter-spacing:-0.025em;
color:var(--grey);
white-space:normal}

[data-type="tatts (type)"] h5:before {
content:'a '}

[data-type="tatts (type)"] li:first-child h5:before {
content:'an '}

[data-type="a native of"] .opts span:last-child:after {
content:' from*'}

[data-type="park"] .results .label h5,
[data-type="Hotel"] .results .label h5 {
font-size:1.25rem}

[data-type="Bank"] .results .label h5 {
font-size:1.1rem}

.links {
width:80px}

.links svg {
width:100%;
height:550px}

.links path {
fill:none!important;
stroke:var(--dark);
stroke-width:.5px}

.results {
position:relative}

.results:after {
content:'higher avg. rate  →';
white-space:nowrap;
font-size:12px;
position:absolute;
left:100%;
top:50%;
transform:translate(-20px,25%) rotate(-90deg);
transform-origin:50% 50%;
color:var(--grey)}

.results .terms {
width:auto;
margin:0;
right:auto}

.results .terms li {
margin-bottom:8px;
display:flex;
align-items:flex-end}

.results .terms li:last-child {
margin-bottom:0}

.results .label {
position:relative;
bottom:auto;
right:auto;
width:210px;
margin-right:15px;
text-align:left;
line-height:1;
height:42px;
padding:3px 3px 0 6px;
background:none;
transition:background 1s}

.results .label h5 {
font-size:1.5rem}

.results .label h5[data-term="obscene language"],
.results .label h5[data-term="New South Wales"]{
font-size:1.25rem}

.results .label h5[data-term="moustache & goatee"]{
font-size:1.15rem}

.results .label h5[data-term="whiskers meeting under the chin"]{
font-size:.8rem}

.results .label p {
color:var(--dark);
font-size:11px}

.results .label p span {
display:none}

.results li > svg {
width:200px;
height:42px;
border-bottom:1px solid var(--pink66)}

.results .years {
opacity:.33}

#set-places .results li > svg {
border-bottom-color:var(--green)}

#set-things .results li > svg {
border-bottom-color:var(--blue)}

/* MAP */

#all-towns {
max-width:var(--graph);
margin:4rem auto 0}

#all-towns path,
#select-towns path:not(.abs) {
fill:var(--green);
mix-blend-mode:multiply}

#all-towns.graph-lrg svg.outer {
margin-top:4rem;
height:60px}

#maps-wrapper {
opacity:0;
position:relative;
width:var(--graph);
margin:4rem auto;
z-index:0}

#reset {
position:absolute;
top:.5rem;
left:.5rem;
background:var(--bg);
border:1px solid var(--dark);
font-size:11px;
line-height:1;
padding:5px 6px 4px;
z-index:1;

cursor:pointer;
user-select:none;
display:none;
color:var(--dark);
background:var(--bg)}

#reset:hover {
color:#fff;
background:var(--dark);
transition:.2s}

#maps-wrapper.ready {
opacity:1}

#slider-wrapper {
position:absolute;
margin:0;
top:-4rem;
left:0;
z-index:1}

#slider-wrapper h4 {
margin:0}

#slider-wrapper h4 + p {
margin:3px 0 6px;
font-size:.75rem;
opacity:.5}

#slider {
text-align:center;
position:relative;
width:380px;
margin:0;
z-index:1}

#slider input {
width:100%;
display:block;
margin:.5rem 0}

.inline[data-place] {
margin:0}

.inline[data-place] h5 {
margin:0}

.inline[data-place] + p {
margin-top:.5rem}

p + .inline[data-place] {
margin-top:3rem}

#the-map {
position:relative;
left:-5rem;
top:0;
margin:0 auto;
width:700px}

#sydney-map {
position:absolute;
right:-50px;
bottom:-25px;
width:300px;
height:300px;
border-radius:50%;
border:1px solid var(--dark);
background:url(../img/sydney.png) no-repeat 0 0/300px 300px}

#sydney-map:before {
content:'Sydney';
position:absolute;
font-size:1.5rem;
line-height:1;
bottom:100%;
left:50%;
letter-spacing:-0.025em;
transform:translate(-50%, -.75rem)}

#sydney-map svg {
width:100%;
height:100%}

.state {
fill:none;
stroke:var(--dark);
stroke-width:1px}

#maps-wrapper text {
font-family:'eb garamond title';
font-weight:normal;
line-height:1;
transition:opacity .1s}

#select-towns {
margin-top:2rem}

#select-towns > p {
text-align:center}

#select-towns > p span {
font-size:14px}

#select-towns span {
display:block;
color:var(--grey)}

#select-towns select {
margin-top:.25rem;
font-size:15px;
min-width:240px;
letter-spacing:-0.025em;
padding:4px 2rem 4px 8px}

#select-towns .label {
text-align:center;
margin:0;
font-size:12px;
color:var(--grey)}

#select-towns .graph-lrg {
margin:0 auto}

#select-towns .outer {
margin-top:3rem;
height:60px;
border-bottom:1px solid var(--green)}

#info {
position:absolute;
background:var(--bg);
padding:.5rem .75rem;
width:180px;
border:1px solid var(--dark);
display:none;
transform:translate(0,-1rem) translate(-50%,-100%);
text-align:center;
font-size:12px}

#info h3 {
margin:0 0 .5rem;
font-size:12px}

#info h3:before {
margin-right:4px!important}

#info p {
line-height:1.1}

#info p:last-child {
margin-bottom:0;
font-size:11px;
color:var(--grey)}

#info p:last-child a {
text-decoration:none}

#info p:last-child a:after {
content:' Trove'}

#info p:last-child a[href*="guardian"]:after {
content:' The Guardian'}

a.next {
margin:auto;
display:block;
width:100px;
text-decoration:none;
height:40px;
line-height:38px;
text-align:center;
border:2px solid var(--dark);
transition:.2s}

a.next:hover {
color:#fff;
background:var(--dark)}

footer {
max-width:var(--block-mid);
margin:4rem auto 12rem;
text-align:center}

footer nav {
max-width:460px;
margin:4rem auto;
border-top:1px solid var(--dark);
border-bottom:1px solid var(--dark);
padding:10px 0}

footer nav + p {
max-width:500px;
margin:auto}

footer p span {
margin-top:.25rem;
display:block;
font-size:11px;}

footer .logos {
display:flex;
align-items:center;
justify-content:center;
margin:3rem auto}

footer .logos a {
margin:0 2rem}

footer .logos img {
height:35px;
width:auto}

footer .logos img[alt="DX LAB"]{
height:30px}

footer .req {
margin-bottom:3rem;
font-size:12px;
letter-spacing:normal}

footer .req a {
display:inline-block;
margin:0 .25rem}

/* HOME */

#intro header {
margin-top:6rem}

#intro h1 {
font-size:100px}

#intro header .icon {
transform:translate(0)}

.sections {
margin:15rem auto 0;
display:flex;
justify-content:center}

.sections a {
width:25vw;
height:25vw;
max-width:200px;
max-height:200px;
border-radius:50%;
margin:0 1rem;
text-align:center;
text-decoration:none;
letter-spacing:-0.05em;
font-size:1rem;
font-family:'eb garamond title';
line-height:1;
letter-spacing:-0.033em;
position:relative;
transition:background .2s;
font-weight:700}

.sections a span {
position:absolute;
left:50%;
top:50%;
vertical-align:bottom}

.sections a:before {
content:'';
position:absolute;
left:50%;
top:50%;
width:66%;
height:66%;
transform:translate(-50%,-50%);
background:url(../img/icon-people.png) no-repeat 50% 50%/contain;
mix-blend-mode:multiply}

.sections a[href*='people'] {
background:var(--pink66)}

.sections a[href*='people']:before  {
transform:translate(-50%,-66%)}

.sections a[href*='people'] span {
transform:translate(-33%,20px)}

.sections a[href*='places'] {
background:var(--green)}

.sections a:hover {
background:var(--greyLight)!important}

.sections a[href*='places']:before  {
transform:translate(-50%,-65%);
background-image:url(../img/icon-places.png)}

.sections a[href*='places'] span {
transform:translate(-55%,40px)}

.sections a[href*='things'] {
background:var(--blue)}

.sections a[href*='things']:before  {
transform:translate(-50%,-55%);
background-image:url(../img/icon-things.png)}

.sections a[href*='things'] span {
transform:translate(-66%,35px)}

#people header .icon {
background-image:url(../img/icon-people.png);
transform:translate(1rem,1rem)}

#people header .icon div,
#notes header .icon div {
text-align:right;
left:auto;
right:100%;
transform:rotate(-2deg) translate(-40px,-20px)}

#people header .icon:before,
#notes header .icon:before {
left:auto;
right:100%;
transform:translate(60%,60%) scaleX(-1)}

#notes header .icon:before {
transform:translate(33%,33%) scaleX(-1)}

#notes header .icon div {
transform:rotate(-3deg) translate(-45px,-30px)}

#places header {
padding-top:2rem}

#places header .icon {
background-image:url(../img/icon-places.png);
transform:translate(0,0)}

#places header h1 {
transform:translate(1rem,0) rotate(0.25deg)}

#things header h1 {
transform:rotate(-0.5deg) translate(-1rem,.5rem)}

#things header .icon {
background-image:url(../img/icon-things.png);
transform:translate(-2rem,.75rem)}

#notes header {
padding-top:1.5rem}

#notes header .icon {
background-image:url(../img/icon-notes.png);
transform:translate(1rem,.25rem)}

#notes header h1 {
transform:rotate(-.25deg)}

footer .icon {
background-image:url(../img/icon-home-footer.png);
transform:translate(-4rem,-1rem)}

footer .icon:before {
bottom:auto;
top:100%;
transform:translate(-40%,-40%) scaleY(-1)}

footer .icon div {
bottom:auto;
top:100%;
transform:rotate(2deg) translate(45px,28px)}

#people footer .icon {
background-image:url(../img/icon-people-footer.png)}

#places footer .icon {
background-image:url(../img/icon-places-footer.png)}

#things footer .icon {
background-image:url(../img/icon-things-footer.png)}

#notes footer .icon {
background-image:url(../img/icon-notes-footer.png)}

#preload {
display:none;
background-image:url(../img/icon-people.png),
url(../img/icon-places.png),
url(../img/icon-things.png),
url(../img/icon-notes.png)}

@media all and (max-width:1150px){

    .set .note {
    display:none}

}

@media all and (max-width:980px){

    :root {
    --cols:700px;
    --graph:700px}

    #maps-wrapper {
    margin:.5rem auto}

    #the-map {
    left:0;
    top:0}

    #the-map svg {
    transform:translate(-.25rem,0)}

    #sydney-map {
    display:none}

    #slider-wrapper {
    position:relative;
    margin:0 0 -2rem;
    top:-6rem;
    left:auto;
    z-index:1}

    #slider-wrapper h4 {
    font-size:1.2rem;
    letter-spacing:-0.025em}

    #slider {
    width:330px}

    .quote .details {
    margin-top:-1.5rem;
    display:block}

    .quote .details p {
    line-height:1.2}

    .TL,
    .TR {
    margin-bottom:3rem}

    .solo:after {
    left:50%;
    width:1px;
    height:80px;
    background:url(../img/arrow-sq.svg) no-repeat -39px 0;
    transform:none;
    margin-top:10px}

    .solo.TR:after {
    left:50%;
    right:auto;
    transform:none}

    .solo.BL:after,
    .solo.BR:after {
    left:50%;
    right:auto;
    margin:0 0 20px;
    transform:none}

    .solo[data-name="Coonamble"]{transform:translate(2rem,-1rem)}
    .solo[data-name="vest"]{transform:translate(-4rem,0)}
    .solo[data-name="addicted to drink"]{transform:translate(-7rem,0)}  
    .solo[data-name="addicted to drink"]:after {margin:0;height:100px}

    .solo[data-name="The Criterion Hotel"]{transform:translate(-.5rem,1rem)}
    .solo[data-name="whilst drunk"]{transform:translate(-11rem,-1rem)}
    .solo[data-name="hunting watch"]{transform:translate(21rem,2.5rem)}

    /* PEOPLE */
    .solo[data-name="sallow complexion"]{transform:translate(-10rem,-3rem)}
    .solo[data-name="sallow complexion"]:after {margin:0;height:100px}
    .solo[data-name="moustache"]{transform:translate(0,-1rem)}
    .solo[data-name="tattoo"]{transform:translate(-6rem,0)}
    .solo[data-name="tattoo"]:after {margin:0;height:100px}

    .solo[data-name="red face"]{transform:translate(2rem,0)}
    .solo[data-name="freckled"]{transform:translate(1rem,2.5rem)}
    .solo[data-name="freckled"]:after {margin:0;height:100px}
    .solo[data-name="woman"]{transform:translate(-5rem,0)}
    .solo[data-name="girl"]{transform:translate(-3rem,2rem)}

    /* places */

    .solo[data-name="Auburn"]{transform:translate(11rem,-1rem)}
    .solo[data-name="George Street"]{transform:translate(-4rem,-.5rem)}
    .solo[data-name="George Street"] svg {margin-top:.5rem}
    .solo[data-name="Brickfield Hill"] {transform:translate(10rem,2.5rem)}
    .solo[data-name="Brickfield Hill"]:after {margin:0;height:100px}

    .solo[data-name="George Street"]{transform:translate(-1rem,2rem)}
    .solo[data-name="King Street"]{transform:translate(-9.5rem,-.5rem)}
    .solo[data-name="York Street"]{transform:translate(-7rem,2.5rem)}

    /* things */
    
    .solo[data-name="tweed coat"]{transform:translate(7rem,0)}
    .solo[data-name="moleskin trousers"]{transform:translate(-6rem,0)}
    .solo[data-name="cotton shirt"]{transform:translate(-10rem,2rem)}
    .solo[data-name="cotton shirt"] svg {margin-top:.5rem}

    .solo[data-name="blue jacket"]{transform:translate(7rem,0rem)}
    .solo[data-name="Wellington boots"]{transform:translate(-4rem,-1rem)}
    .solo[data-name="cabbagetree hat"]{transform:translate(5rem,3rem)}
    .solo[data-name="spectacles"]{transform:translate(-5rem,2rem)}

    .solo[data-name="thin features"]{transform:translate(-8rem,-1rem)}
    .solo[data-name="Balmain"]{transform:translate(0,0)}
    .solo[data-name="dress"]{transform:translate(0,0)}

    .solo[data-name="saddle-cloth"]{transform:translate(-6rem,-1rem)}
    .solo[data-name="the Colony"]{transform:translate(3.5rem,-.5rem)}
    .solo[data-name="curly hair"]{transform:translate(-5rem,0rem)}

    .by-quote.pic li {
    width:160px}

    .set {
    width:720px;
    transform:translate(-20px)}

    .results .label {
    width:180px}

    .results li > svg {
    width:180px}

    [data-type="Bank"] .results .label h5 {
    margin-top:3px;
    font-size:1rem}

    .photos {
    max-width:360px}

    .photos [data-term="Woy Woy"]{padding-left:75px;top:15%}
    .photos [data-term="black hat"]{padding-left:90px}
    .photos [data-term="beach"]{padding-right:90px;top:84%}
    .photos [data-term="photographer"]{padding-left:140px}

    .photos [data-term="freckled"]{padding-right:180px}
    .photos [data-term="striped shirt"]{padding-left:145px}
    .photos [data-term="dungaree"]{padding-left:150px}

    .photos [data-term="waggon"]{padding-left:110px}
    .photos [data-term="cast in eye"]{padding-right:100px}

    /* people */

    .photos [data-term="fair hair"]{padding-right:150px}
    .photos [data-term="proprietor"]{padding-left:105px}
    .photos [data-term="daughter"]{padding-right:70px}

    .photos [data-term="high cheek bones"]{padding-right:240px}
    .photos [data-term="sharp nose"]{padding-left:200px}
    .photos [data-term="bushy beard"]{padding-right:210px}

    .photos [data-term="pale complexion"]{padding-left:95px}
    .photos [data-term="slim build"]{padding-right:50px}
    .photos [data-term="respectable appearance"]{padding-left:230px}

    /* places */

    .photos [data-term="Royal Mail Hotel"]{padding-left:270px}
    .photos [data-term="Hunter Street"]{padding-left:90px}
    .photos [data-term="O'Connell Street"]{padding-right:70px}

    .photos [data-term="Hawkins Hill"]{padding-left:170px}
    .photos [data-term="diggings"]{padding-right:125px}

    .photos [data-term="Fort Macquarie"]{padding-left:65px}
    .photos [data-term="Circular Quay"]{padding-right:70px}
    .photos [data-term="harbour"]{padding-left:150px}
    .photos [data-term="wharf"]{padding-right:125px}

    /* things */

    .photos [data-term="drapery"]{padding-right:110px}
    .photos [data-term="check(ed) shirt"]{padding-left:205px}
    .photos [data-term="wreath"]{padding-left:70px}
    .photos [data-term="umbrella"]{padding-right:90px}

    .photos [data-term="billycock hat"]{padding-left:80px}
    .photos [data-term="dark dress"]{padding-right:90px}
    .photos [data-term="perambulator"]{padding-left:170px}

    .photos [data-term="bicycle"]{padding-left:130px}

}


@media all and (max-width:765px){

    :root {
    --cols:100%;
    --graph:100%;
    --max:620px}

    .solo,
    .drop,
    #selective-reporting .key,
    #selective-reporting .wrapper,
    #population-breakdown:before,
    .results:after {
    display:none}  

    .quote {
    max-width:var(--max);
    margin:6rem auto}

    .quote blockquote {
    line-height:1.1}

    blockquote svg {
    display:inline-block}

    .cols {
    display:block;
    width:auto;
    max-width:var(--max);
    margin:0 auto}

    .cols > div {
    max-width:none;
    width:auto;
    margin:1rem 0}

    .graph-lrg  {
    max-width:var(--max)!important}

    .graph-lrg p {
    max-width:none}

    .pop text {
    text-anchor:start;
    transform:translate(0,-5px)}

    [data-date="Nov 1860 – Sept 1861"] g {
    transform:translate(40px,40px)}

    [data-date="Dec 1897"] g {
    transform:translate(-20px,40px)}

    #comparison-rates > div {
    margin:0 5px}

    .by-quote.pic  {
    justify-content:center}

    .by-quote.pic li {
    margin:2rem 1rem}

    .by-quote.pic .drop {
    display:none}

    .set {
    width:auto;
    margin-top:2rem;
    display:block;
    transform:none}

    .opts {
    margin-top:3rem;
    width:auto;
    text-align:center;
    padding:0}

    .opts span  {
    display:block;
    text-align:center;
    color:var(--grey)}

    .opts select {
    max-width:240px;
    width:100%;
    font-size:1rem;
    padding:4px 2rem 4px 8px;
    margin:.25rem auto}

    .opts span:last-child:after {
    content:':'}

    #set-notes {
    margin:1rem;
    position:relative;
    top:auto;
    left:auto;
    right:auto}

    .links {
    display:none}

    .results {
    max-width:380px;
    margin:2rem auto 0}

    .results .terms li {
    margin-bottom:4px}

    .results .label {
    margin-right:10px;
    width:190px}

    .results .label h5 {
    font-size:1.25rem}

    #comparison-rates h4 {
    transform:translate(-1rem,-1rem);
    width:120px;
    white-space:normal;
    line-height:1.15;
    font-size:14px;
    text-align:right}

    .box h5 {
    font-size:12px}

    .box .IND, 
    .box .non-IND {
    width:120px;
    transform:translate(-1rem,0)}

    .box .IND:after, 
    .box .non-IND:after {
    width:1rem}

    #population-breakdown h4 {
    transform:translate(1rem,-1rem);
    text-align:left}

    #population-breakdown .IND {
    transform: translate(1rem,-6px)}

    #population-breakdown .non-IND {
    transform: translate(1rem,0)}

    .photos {
    max-width:460px;
    margin:6rem auto}

    .photos .details {
    position:relative;
    left:auto;
    top:auto;
    margin:.33rem 0 .5rem;
    display:flex;
    justify-content:flex-start}

    .photos .details p {
    margin:0}

    .photos .details p:first-child:after {
    content:'.'}

    .photos .details a {
    margin-left:.5rem}

    .photos span[data-term],
    .photos [data-term] h5:before {
    display:inline}

    .photos div[data-term],
    .photos div.lhs[data-term] {
    position:relative;
    left:auto;
    top:auto;
    transform:none;
    padding:1.5rem 0 0;
    margin:0;
    width:100%}

    .photos .graph {
    width:auto}

    .photos .graph p {
    position:absolute;
    right:1rem;
    bottom:0}

    .photos  .graph svg {
    height:30px}

    .photos [data-term]:before {
    display:none}

    .photos [data-term] h5 {
    margin:0;
    border-top-color:var(--pink66)}

    .photos .places h5 {
    border-top-color:var(--green)}

    .photos .things h5 {
    border-top-color:var(--blue)}

    #maps-wrapper {
    margin:0 auto;
    width:var(--graph);
    max-width:var(--max)}

    #the-map {
    margin:0 auto;
    border:1px solid var(--dark);
    width:100%;
    height:50vh;
    overflow:hidden;
    cursor:-webkit-grab}

    .state {
    opacity:.5}

    #the-map text {
    -webkit-user-select:none}

    #the-map svg {
    position:absolute;
    right:0;
    top:-3rem;
    transform:translate(0,0)}

     #slider-wrapper {
     top:auto;
     margin:.5rem 0 4rem}

     #reset {
    display:block}

     #slider-wrapper:after {
    content:'↑ pan/zoom';
    position:absolute;
    top:-3px;
    right:0;
    font-size:11px}

     #slider {
     width:100%}

}

@media all and (max-width:600px){

    body {
    overflow-x:hidden}

    .drop-2 {
    display:none}

    header {
    margin:6rem 0}

    #things header h1 {
    transform: rotate(-0.5deg) translate(0,.25rem)}

    header p {
    transform:translate(0,.5rem) rotate(0.5deg);
    margin:3rem -15px;
    max-width:none;
    padding:1.5rem}

    .graph-lrg svg.outer {
    height:100px}

    #slider {
    width:100%}

    .by-quote li {
    width:160px;
    margin:0 .75rem 2rem}

    .by-quote q {
    font-size:2rem}

    #select-towns select {
    width:100%}

    .sections a {
    margin:0 .5rem}

}

@media all and (max-width:500px){

    header {
    margin-top:1rem}

    #places header {
    padding-top:0}

    h1 {
    font-size:4rem}

    #intro h1 {
    font-size:5rem}

    .icon {
    margin:1rem auto}

    .icon:before,
    .drop-3,
    .sections a span:after {
    display:none}

    header .icon div,
    footer .icon div {
    left:50%!important;
    right:auto!important;
    bottom:0;
    text-align:center!important;
    transform:rotate(-2deg) translate(-50%,-8px)!important}

    #people header .icon {
    transform: translate(0,.5rem)}

    #places header .icon div {
    transform:rotate(-1deg) translate(-50%,10px)!important}

    #things header .icon {
    transform:translate(0,.5rem)}

    #things header .icon div {
    transform:rotate(1deg) translate(-50%,0)!important}

    #notes header .icon div {
    transform:rotate(-1deg) translate(-50%,0)!important}

    .icon div:before {
    content:'('}

    .icon div:after {
    content:')'}

    footer .icon div {
    transform:rotate(2deg) translate(-50%,-5px)}

    .by-quote li {
    width:150px}

    .photos img {
    border-radius:0}

    #word-count svg.outer {
    margin-top:8rem;
    height:70px}

    .sections {
    justify-content:space-between}

    .sections a:before {
    transform:translate(-50%,-70%)!important}

    .sections a span {
    left:50%;
    top:50%;
    font-size:15px;
    transform:translate(-50%,12px)!important}

    footer {
    margin-bottom:4rem}

    footer .logos {
    justify-content:space-around;
    margin:2rem 0 0}

    footer .logos a  {
    margin:0!important}

    footer .logos img  {
    max-width:40vw;
    height:auto;
    margin:0 auto 2rem}

    footer .icon {
    transform:translate(0rem,-1rem)}

    #places header .icon {
    transform:translate(1rem,-.5rem)}

}

@media all and (max-width:400px){

    nav a {
    margin:.33rem}
    
    .by-quote li {
    width:100%;
    margin:0 0 2rem}

    .results li > svg {
    width:160px}

    .by-quote.pic {
    justify-content:space-around}

    .by-quote.pic li {
    margin:2rem .5rem}

}

@media (hover:none) and (pointer:coarse){

    #info p:last-child a {
    text-decoration:underline}

    #info:after {
    content:'×';
    font-size:1.5rem;
    top:0;
    line-height:1;
    right:8px;
    font-weight:normal;
    opacity:.5;
    position:absolute}

}

@media (hover:none) and (pointer:coarse) and (max-width:760px){
/*
    #slider-wrapper:after {
    content:'↑ drag/pinch to pan/zoom'}
*/
}